style = {
    body::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: -1;
        background-image: url('/fondo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7; /* 70% */
        pointer-events: none;
        }
}